#page-wrapper {

	> main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: calc(100vh - 94px);
	}

	> footer {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}